<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Face.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>WatchFace.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2987F0923D39DB2006078F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2987F2323D39DB4006078F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2987F2E23D39DB4006078F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2987F4223D39EA5006078F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
